
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }







#wrapper{
    
    height:100vh; 
    overflow-x: hidden; 
    overflow-y: auto; 
    perspective: 10px;
}
.container{
   
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    height: 100%;
    z-index: -1;

}
/* .head,.container{
    display:flex;
    justify-content:center;
    align-items:center,;
} */

.background{
  
    
    transform: translatez(-40px) scale(5);



}
.foreground{
    transform: translatez(-20px) scale(3);
}

.background,.foreground{
   
    position:absolute;
    height: 100%;
    width: 100%;
    z-index:-1;
    object-fit: cover;
}
h1{
    position:absolute;
    top:5rem;
    font-size: 7rem;
    color: white;
    letter-spacing: 4px;
    text-shadow: 0 0 10px rgba(0,0,0, 3);

}
section{
    background-color: rgb(45, 45,45);
    color:white;
    padding:5rem 0;
    
}
.setheading{
    font-size: 5rem;
    padding:0 10rem;
}



.bg1{
    background-image: url(./sport-1.jpg);
}
.bg2{
    background-image: url(./sport-2.jpg);
}
.bg3{
    background-image: url(./sport-3.jpg);
}

.text{
    font-size: 1.5rem;
    padding:0 10rem;
    margin: 5rem 0;

}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.desc{
    position:absolute;
    padding:0.5rem 2.5rem ;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateX(-50%);
    color: black;
    font-size:3.5rem ;
    font-weight: 600;
}  

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    .setheading,
    .text {
        padding: 0 2rem;
    }
    .desc {
        font-size: 2rem;
    }

    .bg2 h2.desc {
        font-size: 1rem; 
        padding-left: 5px;
    }
}

@media (max-width: 588px) {
    h1 {
        font-size: 3rem;
    }
    .setheading,.h2 {
        font-size: 50px;
        font-family:fantasy;
        padding: 0 1rem;
    }
    .desc {
        font-size: 1.5rem;
       
    }
    .bg2 {
        background-size: contain;
        height: 200px; 
    }

      
      .bg2 h2.desc {
        font-size: 1.1rem;
        padding-left: 10px; 
    }
}